/* /static/style.css */


.full-body {
    height: 100%;
    width:100%;
    background-color: whitesmoke;
}

.headerlogo{
    height: 20%;
    width:100%;
}

.chatbody{
    height: 60%;
    width:100%;
}

.inputbox{
    height: 20%;
    width:100%;
}

.header-bar {
    background-color: rgb(201, 76, 76);
    color: aliceblue;
    font-size: 40px;
}

.chat-container {
    margin: 0px;
    overflow: auto; 
    max-height: 80vh;
}

.chat-message {
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px;
}

.bot-message {
    background: green;
    color: white;
    width: 30%;
    float: right;
    margin-bottom: 20px;
}

.human-message {
    background: dodgerblue;
    color: white;
    width: 30%;
    float: left;
    margin-top: 20px;
}

.input {
    margin-top: 43%;
    border: 1px solid rosybrown;
    border-radius: 1px;
}

.submit{
    margin-top: 43%;    
    border: 1px solid rosybrown;
    border-radius: 3px;   
}